/*.index-article-preview{
	margin-left: 200px;
}*/
.index-article-comment{
	margin-left: 700px;
}

@media only screen and (max-width: 1420px) {
	.index-article-comment{
		width: calc(100% - 900px);
	}
}
@media only screen and (max-width: 1220px){
	.index-article-comment{
		width: calc(100% - 800px);
		margin-left: 600px;
	}
	
}
@media only screen and (max-width: 992px){
	.index-article-comment{
		width: calc(100% - 700px);
		margin-left: 500px;
	}	
}
@media only screen and (max-width: 768px){
	.index-article-preview{
		margin-left: 0px;
	}
}

.article-delete{
	cursor: pointer;
}
